*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
  
body{
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color:  rgb(0 0 0 / 41%);
}
.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
    text-align: center;
}
.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}
button{
    padding: 10px 40px;
    background-color: #7fccde;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.caja__trasera button:hover{
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 600;
}
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 30px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: black;    
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border:none;
    background: #f2f2f2 ;
    font-size: 16px;
    outline: none;
}
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #000000;
    color: white;
    cursor:  pointer;
    outline: none;
}
.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}
@media only screen and (max-width: 800px){

    body{
        background-image: url(https://www.adobe.com/es/express/create/media_1d0f969f41aed82c13509ec08a8bb41a859561318.jpeg?width=400&format=jpeg&optimize=medium);
    }
    .contenedor__todo{
        width: 100%;
        max-width: 850px;

    }
    .caja__trasera{
        width: 100%;
        height: 360px;
        border-radius: 2%;
    }
    .caja__trasera button{
        font-size: 12px;
        margin-left: 70px;
    }
    .contenedor__login-register{
        width: 100%;
        max-width: 320px;      
    }
    .formulario__login{
        max-width: 340px;
    }
}
@media only screen and (max-width: 760px){
    .formulario__register{
        margin-left: -50px;
    }
}
@media only screen and (max-width: 700px){
    .caja__trasera button{
        margin-left: 30px;
    }
    .formulario__login{
        max-width: 340px;
        max-height: 550px;
    }
    .formulario__register{
        margin-left: -80px;
    }
}
@media only screen and (max-width: 680px){
    .caja__trasera button{
        margin-left: 30px;
    }
    .formulario__login{
        max-width: 340px;
        max-height: 550px;
    }
    .formulario__register{
        margin-left: -90px;
    }
}
@media only screen and (max-width: 665px){
    .formulario__register{
        margin-left: -100px;
    }
}
@media only screen and (max-width: 655px){
    .contenedor__login-register {
        display: block;
        margin-left: -150px;
    }
    .formulario__login{
        margin-top: 150px;
        margin-left: 300px;
    }
    .formulario__register{
        margin-top: 100px;
    }
    .caja__trasera {
        display: block;
        width: 80%;
        margin-left: 80px;
        padding: 0;
        margin-top: -400px;
        border-radius: 100px;
        opacity: 1;
    }
    .caja__trasera div p,
    .caja__trasera div button{
        margin-top: 10px;
        text-align: center;
    }
    .caja__trasera div button{
        margin-left: 126px;
    }
    .contenedor__login-register form{
        padding: 50px 20px;
        margin-top: 150px;
    }
    .caja__trasera-login{
        margin-top: 500px;
        background-color: red;
        color: rebeccapurple;
        opacity: 1;
    }


}
@media only screen and (max-width: 600px) {
    .contenedor__login-register {
        margin-left: -210px;
    }
    .caja__trasera {
        width: 70vw;
        margin-left: 60px;
    }
    .caja__trasera div p,
    .caja__trasera div button{
        margin-top: 10px;
        text-align: center;
    }
    .caja__trasera div button{
        margin-left: 90px;
    }
    
}
@media only screen and (max-width: 540px) {
    .caja__trasera {
        width: 100vw;
        margin-left: -20px;
    }
    .contenedor__login-register {
        margin-left: -250px;
        width: 100vw;
    }
    
}
@media only screen and (max-width: 450px) {
    .contenedor__login-register {
        margin-left: -310px;
    }
    .caja__trasera {
        width: 100vw;
        margin-left: -20px;
    }
    .caja__trasera div p,
    .caja__trasera div button{
        margin-top: 2px;
        text-align: center;
    }
    .caja__trasera div button{
        margin-left: 60px;
    }
    
}
